<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Hello!!!</h1> 
   <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="700" height="600" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ"></a>
</body>
</html>